<h3>Book Inventory</h3>
<form>
  <mat-form-field class="search-input-container">
    <input matInput placeholder="Search..." name="searchInput" [formControl]="searchStringControl">
  </mat-form-field>
</form>
<cdk-virtual-scroll-viewport itemSize="20" class="viewport">
  <div *cdkVirtualFor="let book of books$ | async" [routerLink]="[ 'books/'+ book.id]" style="cursor: pointer" class="item">
    <div class="item-info">
      <div><span class="title-list">{{ book.Title }}</span></div>
      <div>
        <div class="availability-list">
          <span class="property-label-list">Availability</span>
          <span class="property-value-list">{{ book.Availability | plural}}</span>
        </div>
      </div>
      <div *ngIf="book.ValueToShow && book.FieldToShow != 'Title' && book.FieldToShow != 'Availability'">
        <div class="availability-list">
          <span class="property-label-list"> {{ book.FieldToShow }}</span>
          <span class="property-value-list">{{ book.ValueToShow }}</span>
        </div>
      </div>
    </div>
    <button mat-icon-button aria-label="Details" matTooltip="Details" class="item-details">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</cdk-virtual-scroll-viewport>
