<h3>Book Inventory</h3>
<form>
  <mat-form-field>
    <input matInput placeholder="Search..." value="" name="searchInput" #searchInput [(ngModel)]="queryString" (keyup)="filter()">
  </mat-form-field>
</form>
<mat-list>
  <mat-list-item *ngFor="let book of books">
    <div mat-line><span>Title</span><span>{{ book.Title }}</span></div>
    <div mat-line><span>Availability</span><span>{{ book.Availability }}</span></div>
    <div mat-line *ngIf="book.ValueToShow && book.FieldToShow != 'Title' && book.FieldToShow != 'Availability'">
        <span> {{ book.FieldToShow }}</span>
      <span>{{ book.ValueToShow }}</span></div>
    <button mat-icon-button [routerLink]="[ 'books/'+ book.id]"
      aria-label="Details"
      matTooltip="Details">
      <mat-icon>info</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
