/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    display: flex;
    width: 95%;
    margin: 0 auto;
}

app-books {
    width: 100%;
    display: flex;
    flex-direction: column;
}

app-book-info {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.search-input-container {
    width: 100%;
    display: flex;
}

.search-input-container * {
    width: 30%;
}
.title-list {
    font-weight: bold;
}
.availability-list {
    display: flex;
    flex-direction: row;
}

.property-label-list {
    flex: 1;
}

.property-value-list {
    flex: 1;
}

.viewport {
    width: 30%;
    height: 500px;
    border: none;
}

.item {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
}

.item-info {
    flex: 1;
}

.viewport::-webkit-scrollbar {
    width: 3px;
}

.viewport::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}

.viewport::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.book-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.book-container>div,
.hidden-container>div {
    margin-bottom: 15px !important;
}

.book-container>div {
    justify-content: space-between;
}

.book-container>div>span:nth-last-child(1),
.hidden-container>div>span:nth-last-child(1) {
    margin-left: 14px;
    flex: 1 1 0
}
.book-container>div>span:nth-child(1),
.hidden-container>div>span:nth-child(1) {
    flex: 1 1 0
}

.price {
    font-size: 14px;
    height: auto !important;
    width: auto !important;
}

li.author {
    list-style-type: none;
}